.app-container {
  background-color: chocolate;
  height: 750px;
  width: 425px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  /*justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
  text-align: center;
}

.background-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cold {
  background-image: url('/img/cold-bg.jpg');
}
.bg-warm {
  background-image: url('/img/warm-bg.jpg');
}
