.days-box {
  /* background: #dadada7a; */
  width: 100%;
  height: 400px;
  border-radius: 5px;
  /* box-shadow: 0px 4px 4px 0px #646d6d9e; */
  text-shadow: 0 2px 3px black;
}

.day {
  width: auto;
  height: 350px;
  position: relative;
  padding: 25px;
}

.date {
  padding: 15px;
}

.temp {
  font-size: 110px;
  font-weight: 900;
  padding: 25px;
  text-shadow: 4px 5px 3px black;
}

.main {
  padding: 15px;
  font-size: 70px;
  font-weight: 700;
  padding: 25px;
  text-shadow: 4px 5px 3px black;
}
