.search-input-city {
  text-align: center;
  border: 0 !important;
  padding: 2%;
  width: -webkit-fill-available;
  border-radius: 5px;
  background-color: #5a5a5a7a;
  color: white;
  font-size: large;

  appearance: none;
  outline: none;
  box-shadow: 0px 4px 0px 0px #585858ad;
}

.search-input-city::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff7a;
}

.search-input-city:focus {
  background-color: #0000007a;
}
